*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
input,button{
    border:none;
    background: none;
    outline: none;
}
html,body{
    font-size:14px;
    color: #333;
    font-family: 'YouYuan';
}
.wrapper{
    position: relative;
    width: 100vw;
    height: 100vh;
}
.wrapper header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 4.5rem;
    background: linear-gradient(to right,#333,#000,#aaa);
} 
.wrapper .logo{
    margin-left: 2rem;
    height: 3rem;
    line-height: 3rem;
    color: #fff;
    align-items: center;
}
.wrapper .logo img{
    height: 3rem;
    width: 3rem;
}